@page
@model GithubAccountModel
@{
    ViewData["Title"] = "Github Account";
    ViewData["ActivePage"] = ManageNavPages.GithubAccount;
}

<h5 class="text-center">@ViewData["Title"]</h5>
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form id="github-form" method="post">
            <partial name="_StatusMessage" for="StatusMessage" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.GithubUsername" class="form-control" placeholder="Please enter your github username." />
                <label asp-for="Input.GithubUsername" class="form-label"></label>
                <span asp-validation-for="Input.GithubUsername" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.AccessToken" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Input.AccessToken" class="form-label"></label>
                <span asp-validation-for="Input.AccessToken" class="text-danger"></span>
            </div>
            <button id="github-save-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}