
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>This is <b>MyRepos</b></h4>
    <br/>
    <h6>Register, Login, connect your github account and manage your repositories</h6>
    <br/>
    <p>Profile, you can </p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Update your Email and Phone Number</li>
        <li class="list-group-item">Change your password</li>
        <li class="list-group-item">Add a Github Account</li>
        <li class="list-group-item">Download your Data and Delete your Account</li>
    </ul>
    <br/>
    <p>Repositories, you can </p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Star a repository</li>
        <li class="list-group-item">Untar a repository</li>
    </ul>
</div>
